In [1]:
from tqdm import tqdm
import pandas as pd

In [2]:
df = pd.read_csv('../data/processed/word_freqs/freq_1000000_oshhamaho_haiku.csv')

In [5]:
df = pd.concat([df, pd.read_csv('../data/processed/word_freqs/freq_1000000_oshhamaho_haiku_2.csv')])
df = pd.concat([df, pd.read_csv('../data/processed/word_freqs/freq_1000000_oshhamaho_haiku_3.csv')])
df = pd.concat([df, pd.read_csv('../data/processed/word_freqs/freq_1000000_oshhamaho_haiku_4.csv')])
df = pd.concat([df, pd.read_csv('../data/processed/word_freqs/freq_1000000_oshhamaho_tr_1.csv')])
df = pd.concat([df, pd.read_csv('../data/processed/word_freqs/freq_1000000_oshhamaho_tr_2.csv')])
df = pd.concat([df, pd.read_csv('../data/processed/word_freqs/freq_1000000_oshhamaho_tr_3.csv')])
df = pd.concat([df, pd.read_csv('../data/processed/word_freqs/freq_1000000_oshhamaho_tr_4.csv')])
df = pd.concat([df, pd.read_csv('../data/processed/word_freqs/freq_1000000_oshhamaho_tr_5.csv')])
df = pd.concat([df, pd.read_csv('../data/processed/word_freqs/freq_1000000_oshhamaho_tr_6.csv')])
df

                                     0
0                  щхьэусыгъуэ/причина
1                        нэхъыфI/лучше
2                                  и/и
3                                  –/–
4                                  «/«
...                                ...
9558  ДиректорыщIэу/Как новый директор
9559  зылI-лIитIкIэ/двумя-тремя людьми
9560          къызэхэзыублари/начавший
9561  Iуэхутхьэбзэшхуэу/большая услуга
9562            хузэфIэмыкIауэ/не смог

[177339 rows x 1 columns]

In [10]:
df.dropna(inplace=True)
df = df[df['0'].apply(lambda x: len(x.split('/')) == 2)]

df['kbd'] = df['0'].apply(lambda x: x.split('/')[0])
df['rus'] = df['0'].apply(lambda x: x.split('/')[1])
df

/var/folders/1_/ss0tzds95cjf19d6s8b1cdf80000gn/T/ipykernel_18394/1107177367.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

                                     0                kbd                 rus
0                  щхьэусыгъуэ/причина        щхьэусыгъуэ             причина
1                        нэхъыфI/лучше            нэхъыфI               лучше
2                                  и/и                  и                   и
3                                  –/–                  –                   –
4                                  «/«                  «                   «
...                                ...                ...                 ...
9558  ДиректорыщIэу/Как новый директор      ДиректорыщIэу  Как новый директор
9559  зылI-лIитIкIэ/двумя-тремя людьми      зылI-лIитIкIэ  двумя-тремя людьми
9560          къызэхэзыублари/начавший    къызэхэзыублари            начавший
9561  Iуэхутхьэбзэшхуэу/большая услуга  Iуэхутхьэбзэшхуэу      большая услуга
9562            хузэфIэмыкIауэ/не смог     хузэфIэмыкIауэ             не смог

[174975 rows x 3 columns]

In [12]:
df_equal = df[df['kbd'] == df['rus']]
df_equal

                              0           kbd           rus
2                           и/и             и             и
3                           –/–             –             –
4                           «/«             «             «
5                           »/»             »             »
6                           я/я             я             я
...                         ...           ...           ...
9297  Лъэрымыхьхэр/Лъэрымыхьхэр  Лъэрымыхьхэр  Лъэрымыхьхэр
9312        гъукIэхэр/гъукIэхэр     гъукIэхэр     гъукIэхэр
9488        1948-1949/1948-1949     1948-1949     1948-1949
9512                    5-8/5-8           5-8           5-8
9513              60-100/60-100        60-100        60-100

[9135 rows x 3 columns]

In [14]:
df.to_csv('../data/processed/word_freqs/freq_1000000_oshhamaho_translated.csv', index=False)