In [1]:
from tqdm import tqdm
import pandas as pd

In [2]:
df = pd.read_csv('../data/processed/word_freqs/freq_1000000_oshhamaho_translated.csv')

In [6]:
df = df[df['kbd'] != df['rus']]

In [8]:
df.sort_values(['kbd'])

                     0  kbd            rus
74428  "/преступление"    "  преступление"
72227        ""/гимном   ""         гимном
72235        ""/арэфым   ""         арэфым
72283      ""/Некрасов   ""       Некрасов
72310        ""/всегда   ""         всегда
...                ...  ...            ...
43864                /  NaN            NaN
43865                /  NaN            NaN
53445                /  NaN            NaN
53446                /  NaN            NaN
53447                /  NaN            NaN

[165846 rows x 3 columns]

In [9]:
df = df.drop_duplicates()

In [20]:
df = df[df['rus'] != '\"\"']
df = df[df['rus'] != '"']
df = df[df['rus'] != '""']
df = df[df['rus'] != '""']

In [21]:
df

,0,kbd,rus
0,щхьэусыгъуэ/причина,щхьэусыгъуэ,причина
1,нэхъыфI/лучше,нэхъыфI,лучше
8,:/:,:,:
10,абы/ему,абы,ему
11,си/мой,си,мой
...,...,...,...
174970,ДиректорыщIэу/Как новый директор,ДиректорыщIэу,Как новый директор
174971,зылI-лIитIкIэ/двумя-тремя людьми,зылI-лIитIкIэ,двумя-тремя людьми
174972,къызэхэзыублари/начавший,къызэхэзыублари,начавший
174973,Iуэхутхьэбзэшхуэу/большая услуга,Iуэхутхьэбзэшхуэу,большая услуга
174974,хузэфIэмыкIауэ/не смог,хузэфIэмыкIауэ,не смог